.language-selector-header {
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  background-color: var(--side-bg);
  border-radius: 100%;
  padding: 0.79rem 0.52rem;
}

.language-selector-header:hover {
  transform: scale(1.1);
}

.language-selector-header span {
  font-size: 1.1rem;
  font-weight: 500;
  width: 1.7rem;
  text-align: center;
}

.language-dropdown {
  transform: translateX(-125px) translateY(13px);
}
