.airis-container {
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  color: var(--text);
}

.airis-container button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.airis-popup {
  background-color: var(--lightgrey);
  border-radius: 10px;
  padding: 10px;
}
.airis-container {
  nav-down: 2;
}
.airis-icon {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
  height: max-content;
}

.airis-icon:hover {
  cursor: pointer;
}

.airis-icon > img {
  background-color: var(--text);
  border-radius: 50%;
  padding: 10px;
  width: 70%;
}

.airis-icon i {
  vertical-align: middle;
  font-size: 1.2rem;
}

.airis-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.airis-input-container button {
  background-color: var(--blue);
  padding: 8px 20px;
  border-radius: 10px;
  border: none;
  color: var(--text);
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 10px;
  width: auto;
  flex-wrap: nowrap;
}

.airis-main {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  transition: all 1s ease-in-out;
}

.airis-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--text);
  background-color: var(--text);
  border-radius: 30px;
  width: 100%;
}

.airis-input input {
  background-color: var(--text);
  border-radius: 30px;
  font-size: 0.9rem;
  text-align: left;
  padding: 12px;
  border: none;
  color: var(--lightgrey);
  outline: none;
  font-family: "Inter", sans-serif;
}

.airis-input input::placeholder {
  color: var(--text);
}

.fa-microphone {
  color: var(--blue);
  margin-right: 10px;
}

.fa-paper-plane {
  color: var(--lightgrey);
  margin-right: 10px;
}

.airis-input i:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.airis-response-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--text);
  background-color: var(--side-bg);
  border-radius: 10px;
  width: 80%;
  padding: 5px 10px;
  margin: 10px 0px;
  font-size: 0.9rem;
}

.airis-response-video {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--side-bg);
  border-radius: 10px;
}

.airis-response-video-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin: 5px 0px;
}

.airis-response-video-title h1 {
  color: var(--text);
  font-size: 1rem;
}

.airis-response-video-title i {
  color: var(--side-bg);
  background-color: var(--text);
  border-radius: 50%;
  padding: 5px 7px;
}

.airis-response-video iframe {
  width: 90%;
  height: 200px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.airis-response-video button {
  width: 90%;
  background-color: var(--blue);
  border: none;
  border-radius: 10px;
  color: var(--text);
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 7px 0px;
}

@keyframes airis-in {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes airis-out {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes airis-render-in {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
