/* VideoPin.css */

.video-pin {
    width: 200px; /* Adjust as needed */
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
    background-color: #3d3d3d;
    border-radius: 6px; 
}
.video-pin::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #3d3d3d;

    bottom: -17px; 
    right: 0px; 
}
.video-pin-thumbnail {
    width: 100%;
    display: block;
    border-radius: 6px;
}

.video-pin-content {
    padding: 10px;
    position: relative;
    background-color: #3d3d3d;
    border-radius: 6px;
}

.video-pin-info {
    display: flex; 
    align-items: center;
}

.video-pin-title {
    font-size: 16px;
    margin-bottom: 5px;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.video-pin-meta {
    font-size: 12px;
}

.video-pin-meta span {
    display: inline-block;
    margin-right: 8px;
}

.video-pin-meta .video-pin-channel {
    font-weight: bold;
}

.video-pin-meta .video-pin-views {
    font-style: italic;
}

.video-pin-close-button {
    position: absolute;
    top: 3px;
    right: 3px; 
    border: none;
    background-color: white; 
    color: #3d3d3d; 
    font-size: 20px;
    cursor: pointer;
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   z-index: 2;
}

.video-pin-channel-img {
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px; 
}

