/* FILEPATH: /c:/Users/CharllieDhaldane/Desktop/Work/portfolio/VOSYN-WEBAPP/vosyn-webapp/src/Components/VideoCards/VideoCards.css */

.video-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0px;
  border: 2px dashed blue;
}

.video-card {
  width: 390px;
  padding: 20px;
  border-radius: 5px;
}

.video-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.video-info {
  margin-top: 10px;
  color: var(--text);
}

.video-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.video-info p {
  font-size: 14px;
  color: #666;
}
