.sidebar-container {
  background-color: var(--black);
  min-height: 100% !important;
  width: 250px !important;
  max-height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 6;
  position: fixed;
  transition: all 0.2s ease-in-out;
  animation: fader 0.3s ease-in-out;
  padding: 2rem 0rem 2rem 2rem;
}

.sidebar-title-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-width: 100%;
  margin-bottom: 2rem;
}

.sidebar-title-container i {
  color: white;
  font-size: 1.2rem;
  background-color: var(--lightgrey);
  padding: 10px 12px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 4;
}

.sidebar-title-container i:hover {
  background-color: var(--blue);
  transform: scale(1.1);
  animation: spin 0.3s ease-in-out;
}

.sidebar-title-container img {
  width: 110px;
  object-fit: cover;
  margin-left: 20px;
  position: relative;
  top: 3px;
  cursor: pointer;
}

.sidebar-item-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 5rem;
  margin: 0 auto;
  min-width: 100%;
  max-height: 0;
}

.sidebar-container:not(.sidebar-collapsed) .sidebar-item-container {
  max-height: 1000px; /* Adjust as needed */
}

.sidebar-item {
  color: var(--text);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 5px;
  font-size: 0.9rem;
  border-radius: 6px;
  padding: 0.4rem 0px;
}

.sidebar-item img {
  width: 25px !important;
  object-fit: cover;
}

.sidebar-item:hover {
  background-color: var(--blue);
  cursor: pointer;
  color: white;
}

.sidebar-item-name {
  margin-left: 1.2rem;
  white-space: nowrap;
}

.sidebar-item:hover:not(.sidebar-portrait-item) .fa-solid {
  margin-left: 1rem;
  /* Adds 20px to the right margin when sidebar item is hovered */
}

.sidebar-item:hover:not(.sidebar-portrait-item) img {
  margin-left: 1rem;
  /* Adds 30px to the right margin when sidebar item is hovered */
}

.sidebar-item-title {
  color: var(--offwhite);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.sidebar-line {
  border-top: 1px solid var(--lightgrey);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px !important;
}

.sidebar-collapsed .sidebar-item {
  animation: none;
}

.sidebar-item-collapsed {
  display: none;
}

.sidebar-portrait {
  width: 80px !important;
  height: 100%;
  padding-left: 1.2rem;
}

.sidebar-collapsed {
  position: absolute;
  width: 0px !important;
  height: 0px !important;
  padding: 0px !important;
}

.sidebar-title-collapsed {
  position: absolute;
  top: -5px;
  left: 0;
  padding: 2rem;
}

.sidebar-title-collapsed i:hover {
  background-color: var(--blue);
  transform: scale(1.1);
}

.sidebar-portrait .sidebar-title-collapsed {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.4rem 1rem;
}

.sidebar-portrait-item {
  display: flex !important;
}

.sidebar-portrait-item i {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1.2rem;
  height: 25px;
  width: 25px !important;
  object-fit: cover;
}

.sidebar-portrait > div > img {
  width: 20%;
  object-fit: cover;
}

@keyframes fader {
  0% {
    transform: translateX(-250px);
  }

  100% {
    visibility: visible;
    transform: translateX(0px);
  }
}

/* style the scroll bar */
.sidebar-item-container::-webkit-scrollbar {
}

.sidebar-item-container::-webkit-scrollbar-track {
  background: var(--blue);
}

.sidebar-item-container::-webkit-scrollbar-thumb {
  background-clip: padding-box;
}

.sidebar-item-container::-webkit-scrollbar-thumb:hover {
  background: #555;
  width: 3px;
}

.theme-collapsed {
  margin-left: 20px;
}
