.video-cards {
  display: flex;
}

.video-card {
  padding: 10px;
  border-radius: 10px;
}

.video-card img {
  width: 100%;
  border-radius: 5px;
  height: auto;
}

.video-info {
  display: flex;
  align-items: flex-start;
  margin-top: 3px;
}

.video-info img {
  width: 15%;
  border-radius: 50%;
}

.video-info h3 {
  color: #f7f9ff;
  font-size: 16px;
  font-weight: 600;
}

.video-info h5 {
  color: #dfdfdf;
  font-size: 12px;
  font-weight: normal;
}

.main-info {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-left: 10px;
  height: 100%;
}

.title {
}

.channel {
}

.video-sidebar {
  background-color: var(--darkgrey);
}
