.navbar-container {
  position: relative;
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  z-index: 5;
}

.navbar-region-selector {
  flex-grow: 0;
  text-align: center;
}

.navbar-region-selector.portrait {
  margin-left: 0%;
}

.navbar-right {
  display: flex;
  right: 2rem;
  position: absolute;
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item {
  display: flex;
  cursor: pointer;
  background-color: var(--side-bg);
  border-radius: 100%;
  padding: 0.8rem;
  margin: 0 1rem;
}

.navbar-item:hover {
  transform: scale(1.1);
}

.navbar-item i {
  font-size: 1.3rem;
  color: var(--text);
}

.navbar-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
}

.navbar-img img {
  width: 50px;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    padding: 0 1rem;
  }

  .navbar-right {
    right: 0rem;
  }
}

@media screen and (max-width: 1350px) {
  .navbar-region-selector {
    margin: 0 auto;
  }

  .navbar-right {
    position: relative;
  }
}
