.navbar-container {
  position: relative;
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  z-index: 5;
}

.navbar-container.portrait {
  align-items: start;
}

.navbar-region-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  padding: 1rem 1rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 20%;
  float: right;
  position: absolute;
  right: 0rem;
}

.navbar-right.portrait {
  padding: 1rem;
  min-width: auto;
}

.navbar-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  background-color: var(--side-bg);
  border-radius: 100%;
  padding: 0.8rem;
  margin-left: 1rem;
}

.navbar-item:hover {
  transform: scale(1.1);
}

.navbar-item i {
  font-size: 1.3rem;
  color: var(--text);
}

.navbar-img {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 1rem;
}

.navbar-img.portrait {
  position: relative;
  top: 2px;
  margin-right: 0rem;
}

.navbar-img img {
  width: 50px;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    padding: 0 1rem;
  }

  .navbar-right {
    right: 0rem;
  }
}
